<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <title>About Joe Wright</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <h1>About</h1>
    <div>
      <p>
        Joe Wright is an English film director. He is best known for Pride &
        Prejudice (2005), Atonement (2007), Anna Karenina (2012), and Darkest
        Hour (2017). Wright always had an interest in the arts, especially
        painting. He would also make films on his Super 8 camera as well as
        spend time in the evenings acting in a drama club. He began his career
        working at his parents' puppet theatre. He also took classes at the Anna
        Scher Theatre School and acted professionally on stage and on camera.
      </p>
    </div>
  </body>
</html>
