<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/gallery.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <!-- Slideshow container -->
    <div class="slideshow-container fade">
      <!-- Full images with numbers and message Info -->
      <div class="Containers">
        <!-- correct path: /views/...-->
        <!-- ./images doesn't work -->
        <!-- images doesn't work -->

        <img src="/views/images/anna-karenina.jpg" />
        <!-- <div class="Info">Anna Karenina</div> -->
      </div>

      <div class="Containers">
        <img src="/views/images/darkest-hour.jpg" />
        <!-- <div class="Info">Darkest Hour</div> -->
      </div>

      <div class="Containers">
        <img src="/views/images/pride-prejudice.jpg" />
        <!-- <div class="Info">Pride and Prejudice</div> -->
      </div>
      <!-- <img src="/views/images/pride-prejudice.jpg" alt="" srcset="" /> -->

      <!-- Back and forward buttons -->
      <!-- <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
      <a class="forward" onclick="plusSlides(1)">&#10095;</a> -->
    </div>
    <br />

    <!-- The circles/dots -->
    <div style="text-align: center">
      <span class="dots" onclick="currentSlide(1)"></span>
      <span class="dots" onclick="currentSlide(2)"></span>
      <span class="dots" onclick="currentSlide(3)"></span>
    </div>
    <body />
    <script src="/scripts/gallery.js"></script>
    <html />
  </body>
</html>
